In [2]:
from IPython.display import Image

## Question Formulation

## EDA & Discussion of Challenges

### Analyzing  numeric columns of train dataset

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
      <th>count_empty_string</th>
      <th>count_unique_values</th>
      <th>max</th>
      <th>mean</th>
      <th>min</th>
      <th>nulls_nans</th>
      <th>pct_nulls_nans</th>
      <th>skewness</th>
      <th>stddev</th>
      <th>var</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>int_1</th>
      <td>N/A</td>
      <td>0</td>
      <td>649</td>
      <td>5775</td>
      <td>3.5</td>
      <td>0</td>
      <td>20793556</td>
      <td>45.36</td>
      <td>27.88</td>
      <td>9.43</td>
      <td>88.91</td>
    </tr>
    <tr>
      <th>int_2</th>
      <td>N/A</td>
      <td>0</td>
      <td>9364</td>
      <td>257675</td>
      <td>105.85</td>
      <td>-3</td>
      <td>0</td>
      <td>0.0</td>
      <td>13.2</td>
      <td>391.46</td>
      <td>153239.22</td>
    </tr>
    <tr>
      <th>int_3</th>
      <td>N/A</td>
      <td>0</td>
      <td>14746</td>
      <td>65535</td>
      <td>26.91</td>
      <td>0</td>
      <td>9839447</td>
      <td>21.46</td>
      <td>81.49</td>
      <td>397.97</td>
      <td>158382.17</td>
    </tr>
    <tr>
      <th>int_4</th>
      <td>N/A</td>
      <td>0</td>
      <td>490</td>
      <td>969</td>
      <td>7.32</td>
      <td>0</td>
      <td>9937369</td>
      <td>21.68</td>
      <td>4.09</td>
      <td>8.79</td>
      <td>77.32</td>
    </tr>
    <tr>
      <th>int_5</th>
      <td>N/A</td>
      <td>0</td>
      <td>476707</td>
      <td>23159456</td>
      <td>18538.99</td>
      <td>0</td>
      <td>1183117</td>
      <td>2.58</td>
      <td>10.1</td>
      <td>69394.6</td>
      <td>4815610657.56</td>
    </tr>
    <tr>
      <th>int_6</th>
      <td>N/A</td>
      <td>0</td>
      <td>11618</td>
      <td>431037</td>
      <td>116.06</td>
      <td>0</td>
      <td>10252328</td>
      <td>22.37</td>
      <td>184.98</td>
      <td>382.57</td>
      <td>146357.08</td>
    </tr>
    <tr>
      <th>int_7</th>
      <td>N/A</td>
      <td>0</td>
      <td>4142</td>
      <td>56311</td>
      <td>16.33</td>
      <td>0</td>
      <td>1982866</td>
      <td>4.33</td>
      <td>46.39</td>
      <td>66.05</td>
      <td>4362.57</td>
    </tr>
    <tr>
      <th>int_8</th>
      <td>N/A</td>
      <td>0</td>
      <td>1373</td>
      <td>6047</td>
      <td>12.52</td>
      <td>0</td>
      <td>22773</td>
      <td>0.05</td>
      <td>66.16</td>
      <td>16.69</td>
      <td>278.52</td>
    </tr>
    <tr>
      <th>int_9</th>
      <td>N/A</td>
      <td>0</td>
      <td>7275</td>
      <td>29019</td>
      <td>106.11</td>
      <td>0</td>
      <td>1982866</td>
      <td>4.33</td>
      <td>8.52</td>
      <td>220.28</td>
      <td>48524.64</td>
    </tr>
    <tr>
      <th>int_10</th>
      <td>N/A</td>
      <td>0</td>
      <td>13</td>
      <td>11</td>
      <td>0.62</td>
      <td>0</td>
      <td>20793556</td>
      <td>45.36</td>
      <td>1.14</td>
      <td>0.68</td>
      <td>0.47</td>
    </tr>
    <tr>
      <th>int_11</th>
      <td>N/A</td>
      <td>0</td>
      <td>169</td>
      <td>231</td>
      <td>2.73</td>
      <td>0</td>
      <td>1982866</td>
      <td>4.33</td>
      <td>6.04</td>
      <td>5.2</td>
      <td>27.03</td>
    </tr>
    <tr>
      <th>int_12</th>
      <td>N/A</td>
      <td>0</td>
      <td>407</td>
      <td>4008</td>
      <td>0.99</td>
      <td>0</td>
      <td>35071652</td>
      <td>76.51</td>
      <td>95.26</td>
      <td>5.6</td>
      <td>31.33</td>
    </tr>
    <tr>
      <th>int_13</th>
      <td>N/A</td>
      <td>0</td>
      <td>1376</td>
      <td>7393</td>
      <td>8.22</td>
      <td>0</td>
      <td>9937369</td>
      <td>21.68</td>
      <td>105.35</td>
      <td>16.21</td>
      <td>262.83</td>
    </tr>
    <tr>
      <th>TOTAL</th>
      <td>45840617</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>

### Analyzing  category columns of train dataset

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Count_Empty_String</th>
      <th>Count_Unique_Vals</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>categ_1</th>
      <td>0</td>
      <td>1460</td>
    </tr>
    <tr>
      <th>categ_2</th>
      <td>0</td>
      <td>583</td>
    </tr>
    <tr>
      <th>categ_3</th>
      <td>1559473</td>
      <td>10131227</td>
    </tr>
    <tr>
      <th>categ_4</th>
      <td>1559473</td>
      <td>2202608</td>
    </tr>
    <tr>
      <th>categ_5</th>
      <td>0</td>
      <td>305</td>
    </tr>
    <tr>
      <th>categ_6</th>
      <td>5540625</td>
      <td>24</td>
    </tr>
    <tr>
      <th>categ_7</th>
      <td>0</td>
      <td>12517</td>
    </tr>
    <tr>
      <th>categ_8</th>
      <td>0</td>
      <td>633</td>
    </tr>
    <tr>
      <th>categ_9</th>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>categ_10</th>
      <td>0</td>
      <td>93145</td>
    </tr>
    <tr>
      <th>categ_11</th>
      <td>0</td>
      <td>5683</td>
    </tr>
    <tr>
      <th>categ_12</th>
      <td>1559473</td>
      <td>8351593</td>
    </tr>
    <tr>
      <th>categ_13</th>
      <td>0</td>
      <td>3194</td>
    </tr>
    <tr>
      <th>categ_14</th>
      <td>0</td>
      <td>27</td>
    </tr>
    <tr>
      <th>categ_15</th>
      <td>0</td>
      <td>14992</td>
    </tr>
    <tr>
      <th>categ_16</th>
      <td>1559473</td>
      <td>5461306</td>
    </tr>
    <tr>
      <th>categ_17</th>
      <td>0</td>
      <td>10</td>
    </tr>
    <tr>
      <th>categ_18</th>
      <td>0</td>
      <td>5652</td>
    </tr>
    <tr>
      <th>categ_19</th>
      <td>20172858</td>
      <td>2173</td>
    </tr>
    <tr>
      <th>categ_20</th>
      <td>20172858</td>
      <td>4</td>
    </tr>
    <tr>
      <th>categ_21</th>
      <td>1559473</td>
      <td>7046547</td>
    </tr>
    <tr>
      <th>categ_22</th>
      <td>34955073</td>
      <td>18</td>
    </tr>
    <tr>
      <th>categ_23</th>
      <td>0</td>
      <td>15</td>
    </tr>
    <tr>
      <th>categ_24</th>
      <td>1559473</td>
      <td>286181</td>
    </tr>
    <tr>
      <th>categ_25</th>
      <td>20172858</td>
      <td>105</td>
    </tr>
    <tr>
      <th>categ_26</th>
      <td>20172858</td>
      <td>142572</td>
    </tr>
  </tbody>
</table>

### Analyzing correlation and covariance of numeric columns of train dataset

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Corr</th>
      <th>Cov</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>int_1</th>
      <td>0.104088</td>
      <td>0.326463</td>
    </tr>
    <tr>
      <th>int_2</th>
      <td>0.044435</td>
      <td>7.593410</td>
    </tr>
    <tr>
      <th>int_3</th>
      <td>0.009770</td>
      <td>1.505005</td>
    </tr>
    <tr>
      <th>int_4</th>
      <td>-0.055718</td>
      <td>-0.203014</td>
    </tr>
    <tr>
      <th>int_5</th>
      <td>-0.076539</td>
      <td>-2290.654047</td>
    </tr>
    <tr>
      <th>int_6</th>
      <td>-0.055812</td>
      <td>-8.296949</td>
    </tr>
    <tr>
      <th>int_7</th>
      <td>0.085156</td>
      <td>2.404850</td>
    </tr>
    <tr>
      <th>int_8</th>
      <td>-0.027436</td>
      <td>-0.199864</td>
    </tr>
    <tr>
      <th>int_9</th>
      <td>0.024072</td>
      <td>2.275556</td>
    </tr>
    <tr>
      <th>int_10</th>
      <td>0.191717</td>
      <td>0.049527</td>
    </tr>
    <tr>
      <th>int_11</th>
      <td>0.158357</td>
      <td>0.353649</td>
    </tr>
    <tr>
      <th>int_12</th>
      <td>0.049629</td>
      <td>0.059482</td>
    </tr>
    <tr>
      <th>int_13</th>
      <td>-0.075477</td>
      <td>-0.485725</td>
    </tr>
  </tbody>
</table>

## Algorithm Implementation

## Application of Course Concepts